<%= link_to current_user.nickname, "#", class: "dai"%>さん<br>
<div class="omain">
  <div class="out">
    <div class="kan">＊管理人から一言＊</div>
  <h1 class="suggestion">
    <% @salary.each  do  |salary|%>
      <% if current_user.rent > 70000 && current_user.utility_costs > 15000 && current_user.phone > 15000 && salary.money < 240000 && salary.food_expenses > 40000 && salary.expenses> 20000%><br>
        <%= "お前ゴミ野郎だな。頭も悪いし楽観主義者。お前の人生だから好きにしたらいいけど" %>
      <% elsif current_user.rent < 70000 && current_user.utility_costs > 15000 && current_user.phone > 15000 && salary.money < 240000  && salary.food_expenses > 40000 && salary.expenses> 20000%><br>
        <%= "無駄な出費が多過ぎます。身の丈を考えて生活してみては？このままではあなたの人生高確率で終わりますよ" %>
      <% elsif current_user.rent < 70000 && current_user.utility_costs < 10000 && current_user.phone > 15000 && salary.money < 240000  && salary.food_expenses > 40000 && salary.expenses> 20000%><br>
        <%= "光熱費は問題ないですが、これは単純にあまり家にいないだけじゃないですか？無駄な出費が多いです。努力次第で貯金できる様になりますよ" %>
      <% elsif current_user.rent < 70000 && current_user.utility_costs < 10000 && current_user.phone > 14000 && salary.money < 240000  && salary.food_expenses < 40000 && salary.expenses> 20000%><br>
        <%= "光熱費・食費をしっかり節約できています。ただ無駄な出費が若干多くみられます。特に携帯料金。不要なオプションは解約して料金プランも一度見直しましょう" %>
      <% elsif current_user.rent < 70000 && current_user.utility_costs < 10000 && current_user.phone < 14000 && salary.money < 240000  && salary.food_expenses < 40000 && salary.expenses> 20000%><br>
        <%= "かなり節制できています。ただ無駄な出費が目立ちます。その出費を将来の為の投資をしてみては如何でしょうか" %>
      <% elsif current_user.rent < 70000 && current_user.utility_costs < 10000 && current_user.phone < 14000 && salary.money < 200000  && salary.food_expenses < 40000 && salary.expenses< 20000%><br>
        <%= "素晴らしいです。ただ、給与低過ぎてあなたの人生を蝕んでいます。転職やあなたの人生を輝かせる投資をしてみては如何でしょうか。" %>
      <% else %><br>
       <%= "素晴らしいです。今の時代のニーズに合った生活を送れています。継続は力なり" %></h1>
      <%end%>
    <%end%> 
    <div class="user_nav grid-6">
    ___________<br>
      |『<%= link_to "終了する", destroy_user_session_path, method: :delete %>』|<br>
    </div>
  </div>
</div>